This file was made using the bash terminal! YAY!

# Aalyzing the Homelessness Prevelant in India!
This project aims to analyse the homelessness in India with the dataset obtained from the official government agency. It officially accounts for about 1.77 million Homeless People.

Source of Data-set: https://censusindia.gov.in/nada/index.php/catalog/5047

In [1]:
#Lets start by importing important libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Working with dataset:

In [11]:
#lets see how our dataset would initially look like:
dataset = pd.read_excel("homelessness_raw.xlsx")
dataset.head()

,State,District,Level,Name,TRU,No_HH,TOT_HL_P,TOT_HL_M,TOT_HL_F,P_06,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
0,0,0,India,India,Total,449787,1773040,1046871,726169,270605,...,5628,3491,1794,1697,42876,30110,12766,853470,404960,448510
1,0,0,India,India,Rural,192891,834692,444450,390242,157893,...,5095,2125,973,1152,15330,8894,6436,410230,188678,221552
2,0,0,India,India,Urban,256896,938348,602421,335927,112712,...,533,1366,821,545,27546,21216,6330,443240,216282,226958
3,1,0,STATE,JAMMU & KASHMIR,Total,3064,19047,10524,8523,2868,...,75,42,20,22,355,235,120,11188,4611,6577
4,1,0,STATE,JAMMU & KASHMIR,Rural,1441,8199,4465,3734,1524,...,55,12,7,5,138,82,56,4783,2093,2690

In [19]:
#Printing the type of features present:
'''li = list(dataset[:0])
print('\n'.join(li))''' #vertically prints the column names.
print(dataset.columns.values)
print(f'\nthere are {len(dataset.columns.values)} columns in the Dataset')

['State' 'District' 'Level' 'Name' 'TRU' 'No_HH' 'TOT_HL_P' 'TOT_HL_M'
 'TOT_HL_F' 'P_06' 'M_06' 'F_06' 'P_SC' 'M_SC' 'F_SC' 'P_ST' 'M_ST' 'F_ST'
 'P_LIT' 'M_LIT' 'F_LIT' 'P_ILL' 'M_ILL' 'F_ILL' 'TOT_WORK_P' 'TOT_WORK_M'
 'TOT_WORK_F' 'MAINWORK_P' 'MAINWORK_M' 'MAINWORK_F' 'MAIN_CL_P'
 'MAIN_CL_M' 'MAIN_CL_F' 'MAIN_AL_P' 'MAIN_AL_M' 'MAIN_AL_F' 'MAIN_HH_P'
 'MAIN_HH_M' 'MAIN_HH_F' 'MAIN_OT_P' 'MAIN_OT_M' 'MAIN_OT_F' 'MARGWORK_P'
 'MARGWORK_M' 'MARGWORK_F' 'MARG_CL_P' 'MARG_CL_M' 'MARG_CL_F' 'MARG_AL_P'
 'MARG_AL_M' 'MARG_AL_F' 'MARG_HH_P' 'MARG_HH_M' 'MARG_HH_F' 'MARG_OT_P'
 'MARG_OT_M' 'MARG_OT_F' 'MARGWORK_3_6_P' 'MARGWORK_3_6_M'
 'MARGWORK_3_6_F' 'MARG_CL_3_6_P' 'MARG_CL_3_6_M' 'MARG_CL_3_6_F'
 'MARG_AL_3_6_P' 'MARG_AL_3_6_M' 'MARG_AL_3_6_F' 'MARG_HH_3_6_P'
 'MARG_HH_3_6_M' 'MARG_HH_3_6_F' 'MARG_OT_3_6_P' 'MARG_OT_3_6_M'
 'MARG_OT_3_6_F' 'MARGWORK_0_3_P' 'MARGWORK_0_3_M' 'MARGWORK_0_3_F'
 'MARG_CL_0_3_P' 'MARG_CL_0_3_M' 'MARG_CL_0_3_F' 'MARG_AL_0_3_P'
 'MARG_AL_0_3_M' 'MARG_AL_0_3_F' 'MARG_HH_0_3_P' 'MARG_HH_0_3_M'
 'MARG_HH_0_3_F' 'MARG_OT_0_3_P' 'MARG_OT_0_3_M' 'MARG_OT_0_3_F'
 'NON_WORK_P' 'NON_WORK_M' 'NON_WORK_F']

there are 90 columns in the Dataset

In [33]:
# <<TEST>> creating a dataframe for collecting certain features only
dataFrame_TEMP = pd.DataFrame(dataset , columns= ['State' ,'District', 'Level', 'Name'])
dataFrame_TEMP.drop(columns= ['State' , 'District'], axis=1) #dropping unnecessary columns!

         Level                     Name
0        India                    India
1        India                    India
2        India                    India
3        STATE          JAMMU & KASHMIR
4        STATE          JAMMU & KASHMIR
...        ...                      ...
2005  DISTRICT  North  & Middle Andaman
2006  DISTRICT  North  & Middle Andaman
2007  DISTRICT            South Andaman
2008  DISTRICT            South Andaman
2009  DISTRICT            South Andaman

[2010 rows x 2 columns]

CREATING OUR FINAL DATA for DISTINCT STATES to ANALYSE the country in a statewise fashion first

In [44]:
dataset_ = dataset.loc[(dataset['TRU'] == 'Total') & (dataset['Level'] == 'STATE') ]
dataset_

,State,District,Level,Name,TRU,No_HH,TOT_HL_P,TOT_HL_M,TOT_HL_F,P_06,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
3,1,0,STATE,JAMMU & KASHMIR,Total,3064,19047,10524,8523,2868,...,75,42,20,22,355,235,120,11188,4611,6577
72,2,0,STATE,HIMACHAL PRADESH,Total,935,4098,2481,1617,688,...,15,25,20,5,81,48,33,1800,919,881
111,3,0,STATE,PUNJAB,Total,9853,46714,25814,20900,8912,...,143,46,23,23,1123,686,437,26364,11694,14670
174,4,0,STATE,CHANDIGARH,Total,868,4139,3837,302,119,...,0,0,0,0,3,3,0,416,243,173
180,5,0,STATE,UTTARAKHAND,Total,3273,11824,7917,3907,1524,...,24,22,10,12,596,434,162,5697,3061,2636
222,6,0,STATE,HARYANA,Total,11635,51871,28748,23123,10278,...,125,142,76,66,1188,760,428,28414,13377,15037
288,7,0,STATE,NCT OF DELHI,Total,23175,47076,37836,9240,3594,...,1,15,10,5,1148,1032,116,12515,6029,6486
318,8,0,STATE,RAJASTHAN,Total,37341,181544,97568,83976,37568,...,753,637,309,328,3387,1901,1486,99070,46706,52364
420,9,0,STATE,UTTAR PRADESH,Total,72452,329125,205662,123463,47426,...,870,795,416,379,15043,12006,3037,160207,77489,82718
636,10,0,STATE,BIHAR,Total,9818,45584,24231,21353,8401,...,319,107,52,55,464,300,164,28751,12573,16178
753,11,0,STATE,SIKKIM,Total,75,277,156,121,29,...,3,0,0,0,3,1,2,149,73,76
768,12,0,STATE,ARUNACHAL PRADESH,Total,314,1556,924,632,209,...,5,4,4,0,20,12,8,759,356,403
813,13,0,STATE,NAGALAND,Total,220,876,528,348,135,...,5,3,2,1,18,15,3,414,213,201
846,14,0,STATE,Manipur,Total,706,3212,1592,1620,477,...,24,10,2,8,19,9,10,1872,841,1031
876,15,0,STATE,MIZORAM,Total,38,152,81,71,19,...,0,0,0,0,0,0,0,84,43,41
900,16,0,STATE,TRIPURA,Total,850,3225,1755,1470,358,...,4,1,0,1,51,23,28,1909,742,1167
915,17,0,STATE,MEGHALAYA,Total,298,1241,622,619,228,...,0,2,1,1,6,3,3,639,293,346
939,18,0,STATE,ASSAM,Total,3293,12919,6698,6221,1816,...,24,59,27,32,132,72,60,7704,3151,4553
1023,19,0,STATE,WEST BENGAL,Total,28647,134040,91839,42201,9556,...,311,264,99,165,2048,1592,456,63464,32818,30646
1083,20,0,STATE,JHARKHAND,Total,6121,23391,12828,10563,4360,...,146,55,27,28,396,246,150,13006,6005,7001
1158,21,0,STATE,ODISHA,Total,10334,34061,19681,14380,4529,...,188,156,76,80,810,482,328,17176,8255,8921
1251,22,0,STATE,CHHATTISGARH,Total,7198,24214,13868,10346,4455,...,128,62,29,33,687,419,268,11246,5536,5710
1308,23,0,STATE,MADHYA PRADESH,Total,37822,146435,81599,64836,27440,...,1182,286,144,142,3674,2312,1362,66176,31817,34359
1461,24,0,STATE,GUJARAT,Total,36925,144306,83967,60339,24920,...,264,87,54,33,2237,1400,837,61656,28912,32744
1542,25,0,STATE,DAMAN & DIU,Total,166,737,429,308,104,...,0,0,0,0,36,15,21,165,76,89
1551,26,0,STATE,DADRA & NAGAR HAVELI,Total,216,1004,549,455,221,...,14,0,0,0,123,64,59,351,186,165
1557,27,0,STATE,MAHARASHTRA,Total,57480,210908,127809,83099,30211,...,305,213,145,68,3858,2610,1248,87916,42421,45495
1665,28,0,STATE,ANDHRA PRADESH,Total,42812,145211,75678,69533,20750,...,483,305,165,140,2154,1212,942,75683,34334,41349
1737,29,0,STATE,KARNATAKA,Total,21425,76735,42874,33861,11998,...,131,67,36,31,1422,878,544,32774,15094,17680
1830,30,0,STATE,GOA,Total,820,3051,2049,1002,346,...,5,1,1,0,223,190,33,1014,460,554
1839,32,0,STATE,KERALA,Total,5759,11853,7751,4102,880,...,11,4,2,2,346,266,80,6422,3604,2818
1884,33,0,STATE,TAMIL NADU,Total,15299,50929,28119,22810,5978,...,70,81,44,37,1208,872,336,27553,12636,14917
1983,34,0,STATE,PUDUCHERRY,Total,492,1590,777,813,205,...,0,0,0,0,17,12,5,880,366,514
1998,35,0,STATE,ANDAMAN & NICOBAR ISLANDS,Total,63,95,80,15,3,...,0,0,0,0,0,0,0,36,26,10